# Django Settings
SECRET_KEY=sfettdjyZdfsTfsdyftsftjfstjdt
DEBUG=True
ALLOWED_HOSTS=*

# Database (Leave empty for local development with SQLite)
DATABASE_URL=

# Gemini API Key
GEMINI_API_KEY=AIzaSyBNkikJiaqvCEzGkY1K1iwOBrvbppJ1HeU